<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CSS user profile card</title>
    <script src="https://github.com/codingmarket07/CSS-User-Profile-Card.git"></script>
    </head>
    <body>
      <div class="wrapper">
        <div class="left">
          <img src="/assets/images/alex.png" alt="user" width="100" />
          <h4>Alex William</h4>
          <p>UI Developer</p>
        </div>
        <div class="right">
          <div class="info">
            <h3>information</h3>
            <div class="info_data">
              <div class="data">
                <h4>Email</h4>
                <p>alex@gmail.com</p>
              </div>
              <div class="data"></div>
              <h4>phone</h4>
              <p>040-123-456789</p>
            </div>
          </div>
        </div>

        <div class="projects">
          <h3>projects</h3>
          <div class="projects_data">
            <div class="data">
              <h4>Recent</h4>
              <p>lorem ipsum dolor sit amet.</p>
            </div>
            <div class="data">
              <h4>Most viewed</h4>
              <p>dolo rsit amet.</p>
              <p>haiiiii</p>
              <p>hjhgfhdfdsgfdsgfsdfsdfsfds</p>
            </div>
          </div>
        </div>
      </div>
    </body>
</html>
